<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:22222/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="DemoServiceContract.IService1"
        name="BasicHttpBinding_IService1_Interface" />
      <endpoint address="http://localhost:22222/Service1.svc" binding="basicHttpBinding" 
        bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReferenceDemo4.IService1" 
        name="BasicHttpBinding_IService1_ServiceReference" />
    </client>
  </system.serviceModel>
</configuration>