<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService2" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:22222/Service2.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IService2" contract="DemoServiceContract.IService2"
          name="BasicHttpBinding_IService2" />
    </client>
  </system.serviceModel>
</configuration>